<div>
  <%= flash[:notice] %>
</div>

<%= render 'userinfo' , book: @book,user: @book.user %><!--ローカル変数が２つ-->

<h1>Book detail</h1>

<p><%= image_tag @book.get_image %></p>
<p><%= link_to @book.user.name, user_path(current_user.id) %></p>

<p><%= @book.title %></p>
<p><%= @book.opinion %></p>

<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>