<div class="container">
 
<div>
  <%= flash[:notice] %>
</div>
<div class="row">
<%= render 'userinfo' ,book: @newbook, user: @book.user %><!--ローカル変数が２つ-->

<div class="col-md-9">
<h1>Book detail</h1>

<table class="table">
        <tr>
          <td>
           <%= link_to user_path(@book.user.id) do %>
               <%= image_tag @book.user.get_profile_image(100,100) %><br>
               <%= @book.user.name %>
           <% end %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.opinion %></td>
           <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book) %></td>
            <td><%= link_to "Destroy", destroy_book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
           <% end %>
         </tr>
</table>

　</div>
 </div>
</div>

